<a href="https://colab.research.google.com/github/Aidi1/My_PH_Initiative/blob/master/Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
var = 1.908J
type(var)

complex

In [2]:
var = 3 * 10**3
type(var)

int

In [4]:
var = 2**3.999
type(var)

float

In [12]:
name = "my name is \"aidi\" "
print(tate)
type(name)

car = ' Q W E R T Y '
len(car)
car = car.strip()
print(car)
# we have used the escape sequence

my name is "aidi"
Q W E R T Y

In [13]:
eze = 'JAGUAR'
print(eze.lower())

jaguar

In [14]:
car_1 = ' J A G U R '
print(len(car_1))

11

In [16]:
car_1 = ' J A G U R '
print(len(car_1.strip()))

9

In [18]:
import seaborn 
data = seaborn.load_dataset("iris")
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [22]:
data.to_csv('iris.csv', index=False)
print(data[10:21])

    sepal_length  sepal_width  petal_length  petal_width species
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa
15           5.7          4.4           1.5          0.4  setosa
16           5.4          3.9           1.3          0.4  setosa
17           5.1          3.5           1.4          0.3  setosa
18           5.7          3.8           1.7          0.3  setosa
19           5.1          3.8           1.5          0.3  setosa
20           5.4          3.4           1.7          0.2  setosa

In [24]:
import pandas as pd
k1 = pd.read_csv('/content/Iris.csv')

In [25]:
k1

      Id  SepalLengthCm  ...  PetalWidthCm         Species
0      1            5.1  ...           0.2     Iris-setosa
1      2            4.9  ...           0.2     Iris-setosa
2      3            4.7  ...           0.2     Iris-setosa
3      4            4.6  ...           0.2     Iris-setosa
4      5            5.0  ...           0.2     Iris-setosa
..   ...            ...  ...           ...             ...
145  146            6.7  ...           2.3  Iris-virginica
146  147            6.3  ...           1.9  Iris-virginica
147  148            6.5  ...           2.0  Iris-virginica
148  149            6.2  ...           2.3  Iris-virginica
149  150            5.9  ...           1.8  Iris-virginica

[150 rows x 6 columns]